{% extends 'base.html' %}

{% block content %}
    <main>
        <h1> My Receipts </h1>
        Hello, {{user.username}}

        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    {% for receipt in receipts %}
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:"m/d/y" }}</td>  <!-- Format date as m/d/YY -->
                    <td>{{ receipt.category.name }}</td>
                    <td>{{ receipt.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <tbody>


            <tr>
                {% for category in categories.receipts.all %}
                <td>{{ category.name }}</td>
                <td></td>
                </tr>
                {% endfor %}


            </tbody>

    </main>

    {% endblock content %}
